[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
Environment=DISPLAY=:0
Environment=XDG_SESSION_TYPE=X11
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s kickstartDS

ExecStop=/home/julrich/.tmux/plugins/tmux-resurrect/scripts/save.sh
ExecStop=/usr/bin/tmux kill-server
KillMode=none

RestartSec=2

[Install]
WantedBy=multiplexer.target
